<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
        <th:block th:each = "job : ${jobs}">
        <tr>
            <td>
            <p th:text = "${'ID: ' + job.getId()}"></p>
            <p th:text = "${'Name: ' + job.getName()}"></p>
            <p th:text = "${'Employer: ' + job.getEmployer()}"></p>
            <p th:text = "${'Location: ' + job.getLocation()}"></p>
            <p th:text = "${'Position type: ' + job.getPositionType()}"></p>
            <p th:text = "${'Skill: ' + job.getCoreCompetency()}"></p>
            </td>
        </tr>
        </th:block>
    </table>
</div>

</body>
</html>